body {
    margin: 0;
    padding: 0;
    max-width: 1024;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.limitar-secao {
    width: 1024px;
    max-width: 1024px;
    padding: 0;
    margin: auto;
}

.sub-title {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

header {        
    margin: 15px;
}

.limitar-secao.topo {
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

.img-logo {
    width: 250px;
}

.menu-topo a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 5px;    
}

.menu-topo a:hover{
    color: lightgrey;
    text-decoration: underline;
}

.container-banner {
    background-image: url('./assets/imagens/capa.png');
    background: linear-gradiente(47deg,#000113 0%, #04061D 80%, #04061D 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
}

.limitar-secao.capa {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;    
}

.limitar-secao.capa p {
    width: 500px;
    font-family: 'Anybody', cursive;
    font-size: 36px;
    color: rgb(196,196,196);
}

.limitar-secao.capa h2 {
    width: 500px;
    font-family: 'Anybody', cursive;
    font-size: 60px;
    color: #fff;
    margin: 0px;
    line-height: 70px;
    letter-spacing: 5px;
}

.produto-container {
    text-align: center;
    padding: 100px;
    margin: auto;
    padding-top: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;     
}

.card-box {
    background-color: #f6f6f6;
    width: calc(50% - 15px);
    margin-bottom: 20px;
}

.card-box img {
    width: 80%;
    height: 150px;
    padding: 30px;
    margin: auto;
}

.card-box h2 {
    margin: 0px;
    font-size: 32px;
}

.card-box p {
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
}

.lista-box {     
    display: flex;
    flex-flow: column;
    margin: 5px;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;    
}

.sobre-container {
    background-color: #f8f7ff;
    display: flex;      
    flex-direction: row;
    flex-wrap: wrap; 
    text-align: center;
}

.limitar-secao.sobre-box p {
    line-height: 32px;
}

.limitar-secao.box-card-sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;      
}

.card-imagem img {
    width: 100%;    
    height: 100%;
}

.card-imagem {
    display: flex;
    width: 50%;
    max-height: 300px;
    border: 1px solid #a2adad;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;    
}

.card-imagem h2 {
    font-size: 36px;
    font-family: 'Anybody cursive', sans-serif;
    line-height: 42px;
    letter-spacing: 5px;
}

.card-imagem p {
    font-size: 22px;
    color: #4a4a4a;
}

.contato-container {
    width: 100vw;
    text-align: center;
    color: #fff;    
    background-color: #05031b;    
}

.contato-social {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}

.contato-social img {
    width: 18px;
}

.contato {
    display: flex;    
    justify-content:space-evenly;
    text-align: left;
    width: 100%;
}

.contato caption {
    text-align: left;
    width: 200px;
    margin-left: 10px;
}

footer {        
    display: flex;    
    background-color: #030303;
    text-align: center;
    justify-content: center;
    color: #ADADAD;    
}
